
{% load static %}
{% load i18n %}
    <footer id="footer" class="overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="footer-top-area">
            <div class="row d-flex flex-wrap justify-content-between">
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu">
                  <img src="{% static 'images/main-logo.png' %}" alt="logo">
                  <p>{% trans 'Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio erat nullam fringilla.' %}</p>
                  <div class="social-links">
                    <ul class="d-flex list-unstyled">
                      <li>
                        <a href="#">
                          <svg class="facebook">
                            <use xlink:href="#facebook" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="instagram">
                            <use xlink:href="#instagram" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="twitter">
                            <use xlink:href="#twitter" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="linkedin">
                            <use xlink:href="#linkedin" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="youtube">
                            <use xlink:href="#youtube" />
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 pb-3">
                <div class="footer-menu text-uppercase">
                  <h5 class="widget-title pb-2">{% trans 'Hızlı Linkler' %}</h5>
                  <ul class="menu-list list-unstyled text-uppercase">
                    <li class="menu-item pb-2">
                      <a href="{% url 'index' %}">{% trans 'Anasayfa' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{% url 'category' %}">{% trans 'Tüm Ürünler' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{% url 'category' %}?gender=2">{% trans 'Kadın Saat' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{% url 'category' %}?gender=1">{% trans 'Erkek Saat' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{% url 'category' %}?gender=3">{% trans 'Unisex Saat' %}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu text-uppercase">
                  <h5 class="widget-title pb-2">{% trans 'Help & Info' %}</h5>
                  <ul class="menu-list list-unstyled">
                    <li class="menu-item pb-2">
                      <a href="{% url 'track_shipment' %}">{% trans 'Track Your Order' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">{% trans 'Returns Policies' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">{% trans 'Shipping + Delivery' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">{% trans 'Contact Us' %}</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">{% trans 'Faqs' %}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu contact-item">
                  <h5 class="widget-title text-uppercase pb-2">{% trans 'Contact Us' %}</h5>
                  <p>{% trans 'Do you have any queries or suggestions?' %} <a href="mailto:yourinfo@gmail.com">yourinfo@gmail.com</a>
                  </p>
                  <p>{% trans 'If you need support? Just give us a call.' %} <a href="tel:+5511122233344">+55 111 222 333 44</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </footer>
    <div id="footer-bottom">
      <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-md-4 col-sm-6">
            <div class="Shipping d-flex">
              <p>{% trans 'We ship with:' %}</p>
              <div class="card-wrap ps-2">
                <img src="{% static 'images/dhl.png' %}" alt="dhl">
                <img src="{% static 'images/shippingcard.png' %}" alt="shipping">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="payment-method d-flex">
              <p>{% trans 'Payment options:' %}</p>
              <div class="card-wrap ps-2">
                <img src="{% static 'images/visa.jpg' %}" alt="visa">
                <img src="{% static 'images/mastercard.jpg' %}" alt="mastercard">
                <img src="{% static 'images/paypal.jpg' %}" alt="paypal">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="copyright">
              <p>© {% trans 'Copyright 2023 MiniStore. Design by' %} <a href="https://templatesjungle.com/">TemplatesJungle</a> {% trans 'Distribution by' %} <a href="https://themewagon.com">ThemeWagon</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>