{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content %}
<div class="container" style="padding: 150px 0;">
    <div class="row">
        <h1 class="text-center mb-4">Favorilerim</h1>
        <!-- Sağ Panel (Ürünler) -->
        <div class="col-9">
            <div class="row">
                {% for product in favorites %}
                <div class="col-4 mb-4">
                    <div class="card" style="width: 100%; position: relative;">
                                                 <img src="{{ product.product.primary_image.url }}" class="card-img-top" alt="{{ product.product.model }}">
                        <form action="{% url 'remove-favorite' product.product.id %}" method="post" style="position:absolute;top:10px;right:10px;z-index:2;display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn p-0 border-0 bg-transparent" title="Favorilerden Kaldır">
                                {% if product.product.id in favorite_product_ids %}
                                    <i class="fa-solid fa-heart"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </button>
                        </form>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product.brand }}</h5>
                            <p class="card-text">{{ product.product.model }}</p>
                            <p class="card-text">{{ product.product.price|intcomma }} ₺</p>
                            <a href="{% url 'product_detail' product.product.id %}" class="btn btn-outline-primary w-100">{% trans 'Detaya Git' %}</a>
                            {% if user.is_authenticated %}
                                <form action="{% url 'add-to-cart' product.product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1">
                                    <button type="submit" class="btn btn-primary">{% trans 'Sepete Ekle' %}</button>
                                </form>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-primary">{% trans 'Sepete Ekle' %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>{% trans 'Hiç ürün bulunamadı.' %}</p>
                {% endfor %}
            </div>
        </div>
        
         
    </div>
</div>

{% endblock content %}